@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

body {
  background-color: black;
  font-family: 'Montserrat' , sans-serif;
  margin: 0;
  padding: 0;
}
#content {
  margin: 40px auto;
  padding: 20px;
  padding-top: 5px;
  border-radius: 8px;
  width: 80%;
  background: #333;
  box-shadow: 0 0 5px #555;
}
#logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 20px;
}
#title {
  font-size: 50px;
  text-align: center;
  color: #888;
  transition: 0.5s;
}
#title:hover {
  color: #FFF;
}
.sub-head {
  color: #888;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
#two-picture-container {
  width: 100%;
}
.sub-head-picture {
  font-size: 15px;
  color: #888;
  transition: 0.8s;
}
.two-picture {
  float: left;
  text-align: center;
  width: 50%;
}
.two-picture img{
  width: 50%;
  margin: 0 auto;
  border-radius: 100%;
  transition: 0.5s;
}
.two-picture img:hover {
  border-radius: 5%;
}
.two-picture img:hover + .sub-head-picture {
  color: #fff;
}
